:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1e1e1e;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.heading{
  font-size: 2.5rem;
  text-align: center;
}

.poke-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 40px;
  padding: 20px 50px;
}

.poke-card {
  background-color: #333;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #444;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: 80px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.poke-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-color: #666;
  background-color: rgb(52, 48, 48)
}

.poke-card img {
  position: absolute;
  top: -40px;
  height: 140px;
}

.poke-card h3 {
  margin: 16px 0 4px;
  font-size: 15px;
}

.poke-card div {
  display: flex;
  gap: 6px;
  flex-wrap: wrap;
}

.poke-card span {
  font-size: 12px;
  background-color: #555;
  padding: 2px 6px;
  border-radius: 4px;
}

.team-section{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-top: 2px solid #444;
}

.team-member{
  background-color: rgb(52, 48, 48);
  border: 2px solid #666;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 100px;
}

.team-member img{
  height: 80px;
  margin-bottom: -26px;
}

.team-member h4{
  margin-bottom: 0;
}

.page-layout {
  display: flex;
  height: 100vh;
}

.left-scroll {
  flex: 1;
  overflow-y: auto;
}

.right-static {
  width: 500px;
  background-color: #1e1e1e;
  padding: 20px 0;
}

.right-static h2 {
  text-align: center;
  margin-top: 0;
}